@import "@/theme/theme";

.wrapper {
  margin-top: 4rem;

  @include mobile-max {
    margin-top: unset;
    padding: 0.5rem;
  }

  h2 {
    font-size: 30px;
  }

  div {
    margin-top: 1rem;
    max-width: 700px;

    @include mobile-max {
      padding: 1rem 0;
    }
  }
}

.wrapper_buttons {
  margin-top: 4rem;

  @include mobile-max {
    margin-top: unset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  button {
    margin: 0.3rem;
    font-size: 14px;
  }
}

.wrapper_courses {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  justify-items: center;
  gap: 1rem;

  @include mobile-max {
    grid-template-columns: 1fr 1fr;
  }

  h3 {
    grid-column: span 3;

    @include mobile-max {
      grid-column: span 2;
    }
  }

  button {
    max-width: unset;
  }
}
