@import "@/theme/theme";

.navigation {
  background: $primary;
  position: absolute;
  width: 100%;
  box-shadow: 1px 1px 2px rgb(67, 67, 67);
  z-index: 20;

  .list {
    display: grid;
    grid-template: 1fr auto / repeat(7, 1fr);
    @extend %main-wrapper;
    padding-block: 2rem;

    @include tablet-normal {
      padding: 2rem;
    }

    @include mobile-max {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 1rem;
    }
  }

  li {
    display: flex;
    align-items: center;
  }

  a {
    @include link-underline;
    color: $white;
    @include poppins(400);
    font-size: 14px;
    transition: all ease 200ms;

    @include mobile-max {
      font-size: 16px;
      margin: 0.5rem;
    }
  }

  svg {
    color: $white;
    font-size: 16px;
    margin-left: 0.5rem;
    margin-bottom: 0.2rem;
    text-shadow: 1px 1px 1px gray;
  }
}

.active_link {
  position: relative;
  transition: all ease 200ms;

  a {
    text-decoration: underline;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgb(41, 41, 41);
  }
}
