@import "@/theme/theme";

.closed_card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: $radius-medium;
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 2rem;
  column-gap: 2rem;
  margin: 1rem 0;
  animation: fadeIn 500ms;
  align-items: center;

  button {
    grid-row: 1;
    grid-column: 3;
    @extend %button-primary;
    padding: 0.5rem 2rem;
    height: min-content;
    font-size: 12px;
    width: max-content;
  }

  img {
    grid-row: 1;
    grid-column: 1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }

  .text {
    grid-column: 2;
    grid-row: 1;
  }

  @include mobile-max {
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-content: flex-start;

    button {
      grid-row: 3;
      grid-column: span 2;
      width: 100%;
      margin-top: 1rem;
    }

    img {
      grid-row: 1;
      grid-column: 1;
      width: 100px;
      height: 100px;
    }

    .text {
      grid-row: 1;
      grid-column: 2;
    }
  }
}

.card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: $radius-medium;
  display: grid;
  grid-template-columns: 250px 1fr;
  margin: 1rem 0;
  overflow: hidden;
  @extend %soft-shadow;
  position: relative;

  img {
    max-width: 250px;
    width: 100%;
    min-height: 300px;
    height: 100%;
    object-fit: cover;
    grid-row: span 3;
    animation: fadeIn 500ms;
  }

  button {
    grid-column: 2;
    grid-row: 1;
    @extend %button-primary;
    width: max-content;
    margin: 2rem 2rem 0 auto;
    @extend %button-primary;
    padding: 0.5rem 2rem;
    height: min-content;
    font-size: 14px;
  }

  .text {
    padding: 0 2rem 1.5rem;
    animation: fadeIn 500ms;

    h3 {
      @include poppins(700);
      font-size: 24px;
    }

    p:nth-of-type(1) {
      @include poppins(700);
    }
  }

  .contact {
    grid-column: 2;
    background: $primary;
    margin-bottom: 1rem;
    padding: 1rem 2rem;

    svg {
      margin-right: 1rem;
    }

    a {
      @include link-normal;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: right;
      font-weight: 500;
    }
  }

  @include mobile-max {
    grid-template-columns: 1fr;

    img {
      max-height: 250px;
      grid-row: 1;
      max-width: unset;
    }

    button {
      grid-column: unset;
      grid-row: 4;
      margin: 0 auto 0.5rem;
      width: 90%;
    }

    .text {
      padding: 1.5rem;
      grid-row: 2;

      h3 {
        @include poppins(700);
        font-size: 24px;
      }

      p {
        font-size: 16px;
      }
    }

    .contact {
      grid-column: unset;
      padding: 1rem 2rem;

      a {
        @include link-normal;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: right;
        font-weight: 500;
      }
    }
  }
}
