@import "@/theme/theme";

.wrapper {
  min-height: 600px;
  background: linear-gradient($transperant-blue, $transperant-blue),
    url(/images/chris-bair-sJBBCn4vk8Y-unsplash.jpg);
  @include parallax(left);
  padding: 5rem 0 6rem;
  transition: all ease 250ms;

  @include tablet-normal {
    background: linear-gradient($transperant-blue, $transperant-blue),
      url(/images/chris-bair-sJBBCn4vk8Y-unsplash-tablet.jpg);
    background-size: cover;
  }

  @include mobile-max {
    min-height: 450px;
    background: linear-gradient($transperant-blue, $transperant-blue),
      url(/images/chris-bair-sJBBCn4vk8Y-unsplash-mobile.jpg);
    background-size: cover;
    background-position-x: 20%;
  }
}

.text {
  @extend %main-wrapper;
  text-shadow: 1px 1px 2px black;
  display: grid;
  gap: 1rem;
  text-align: right;
  transition: all ease 250ms;

  @include tablet-normal {
    text-align: center;
  }

  @include mobile-max {
    padding-inline: 2rem;
    max-width: 320px;
  }

  h2 {
    @include poppins(700);
    color: $white;
  }

  p {
    @include montserrat(400);
    max-width: 450px;
    margin-left: auto;
    transition: all ease 250ms;
    color: $white;

    @include mobile-max {
      font-size: 16px;
    }
  }

  button {
    margin-left: auto;
    transition: all ease 250ms;
  }

  p,
  button {
    @include tablet-normal {
      margin: auto;
    }
  }
}
