@import "@/theme/theme";

.button {
  @extend %button-primary;
  background: rgba($primary, 0.25);
  margin-right: 0.5rem;
  font-size: 14px;
  padding: 0.5rem 1.5rem;

  &:hover {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  }

  @include mobile-max {
    margin-right: 0.2rem;
  }
}

.button_active {
  @extend %button-primary;
  margin-right: 0.5rem;
  font-size: 14px;
  padding: 0.5rem 1.5rem;

  @include mobile-max {
    margin-right: 0.2rem;
  }
}

.button_memorylane {
  @extend %button-blue;
  padding: 0.5rem 1.5rem;
  font-size: 14px;
  position: absolute;
  right: 2rem;
}
