@import "@/theme/theme";

.wrapper {
  border: 1px solid rgba(128, 128, 128, 0.221);
  border-radius: $radius-medium;
  padding: 2rem;
  margin-top: 1rem;

  @include mobile-max {
    padding: 1rem;
  }

  h3 {
    font-size: 20px;
  }

  ul {
    list-style: none;
    padding: 0;
  }
}
