@import "@/theme/theme";

.button {
  font-size: 14px;
  color: $white;
  background: $primary;
  padding: 0.7rem;
  max-width: 175px;
  width: 100%;
  border: none;
  border-radius: $radius-large;
  box-shadow: 1px 1px 2px black;
  transition: box-shadow ease-in 150ms;

  &:hover {
    cursor: pointer;
    box-shadow: 2px 2px 3px black;
  }
}

.link {
  @include button-green;
  @include poppins(600);
  grid-row: 5;
  grid-column: span 2;
  max-width: 450px;
}
