@import "@/theme/theme";

.wrapper {
  text-align: center;
  padding: 5rem 3.5rem 3rem;

  @media (max-width: $tablet-normal) {
    padding: 0.5rem;
  }

  h2 {
    font-size: 30px;
    @include poppins(800);
    margin-bottom: 0.5rem;

    @media (max-width: $mobile-max) {
      font-size: 24px;
    }
  }

  p {
    @include montserrat-italic;
    font-weight: 500;
    font-size: 16px;

    @media (max-width: $mobile-max) {
      font-size: 14px;
    }
  }
}
