@import "@/theme/theme";

.wrapper {
  text-align: center;
  padding: 5rem 3.5rem 3rem;
  max-width: 700px;
  margin: auto;

  @media (max-width: $tablet-normal) {
    padding: 0.5rem;
  }

  h2 {
    font-size: 24px;
    @include poppins(800);
    margin-bottom: 0.5rem;

    @include mobile-max {
      font-size: 24px;
    }
  }

  p {
    @include montserrat-italic;
    font-weight: 500;
    font-size: 14px;
  }
}
