@import "../theme/theme";

.header {
  display: flex;
  min-height: 650px;
  width: 100%;
  justify-content: center;
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    url(../public/images/9.jpg);
  @include parallax(left);
  box-shadow: 1px 1px 2px rgb(63, 63, 63);
  position: relative;
  z-index: 10;
  transition: all ease 250ms;

  @media (max-width: $tablet-normal) {
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
      url(../public/images/9tablet.jpg);
    background-size: cover;
  }

  @media (max-width: $mobile-max) {
    min-height: 500px;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
      url(../public/images/9mobile.jpg);
    background-size: cover;
  }
}

.text {
  align-self: center;
  @extend %main-wrapper;

  h1,
  p {
    max-width: 450px;
    color: white;
    text-shadow: 1px 1px 3px black;
    transition: all ease 250ms;

    @media (max-width: $tablet-normal) {
      margin: auto;
      text-align: center;
    }

    @media (max-width: $mobile-max) {
      padding-inline: 2rem;
    }
  }

  h1 {
    font-size: 36px;
    @include poppins(bold);
    margin: 0;
    transition: all ease 250ms;

    @media (max-width: $tablet-normal) {
      margin: auto;
      padding-top: 2rem;
    }
  }

  p {
    @extend %quote;
    font-size: 16px;
  }
}
