@import "../theme/theme";

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  @extend %main-wrapper;
  transition: all ease 250ms;

  @media (max-width: $tablet-normal) {
    flex-direction: column;
  }

  .logotype {
    object-fit: contain;
    width: 120px;
  }

  ul {
    @include horizontal-list;
    transition: all ease 250ms;

    @media (max-width: $mobile-max) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-inline: 2rem;
    }

    li {
      transition: all ease 250ms;
      @media (max-width: $mobile-max) {
        margin: 0.2rem 1rem;
      }

      @media (max-width: $mobile) {
        margin: 0.2rem 0.5rem;
      }
    }

    @media (max-width: $tablet-normal) {
      margin-top: 1rem;
    }
  }

  li:nth-of-type(5) {
    margin-right: 0;
  }

  a {
    @include poppins(700);
    @include link-normal;
    color: $white;
    text-shadow: 1px 1px 2px black;
    transition: all ease 250ms;

    @media (max-width: $mobile) {
      font-size: 12px;
    }
  }
}
