@import "../theme/theme";

.wrapper {
  min-height: 600px;
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    url(../public/images/caroline-ziemkiewicz-9KgxAnq7eD0-unsplash.jpg);
  @include parallax(left);
  position: relative;
  z-index: 8;
  box-shadow: 2px 2px 2px rgb(63, 63, 63);
  padding: 2rem 0 3rem;
}

.main {
  @extend %main-wrapper;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  @media (max-width: $mobile-max) {
    align-items: center;
  }

  @media (max-width: $tablet-normal) {
    padding-left: 2rem;
  }

  h2 {
    text-shadow: 1px 1px 2px black;
    padding: 2rem;

    @media (max-width: $mobile-max) {
      text-align: center;
    }
  }
}

.navigation_dots {
  max-width: 450px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, auto);
  gap: 1.5rem;
  padding: 1rem;

  @media (max-width: $tablet-normal) {
    max-width: 350px;
  }
}
