@import "@/theme/theme";

.text {
  padding: 3rem 6rem;
  width: 100%;
  background: $white;
  margin-block: 2rem;
  border-radius: $radius-small;
  border: 5px solid $primary;
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.55);
  animation: fadeIn 500ms;

  @include tablet-normal {
    padding: 1rem;
    margin: 1rem 0;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: 1fr;
  }

  @include mobile-max {
    column-gap: 0;
  }

  .instructor {
    grid-column: 1;
    grid-row: 2;
  }

  .category {
    grid-column: 1;
    grid-row: 3;
  }

  .description {
    grid-column: 2;
    grid-row-start: 2;
    grid-row-end: 5;

    @include tablet-normal {
      max-width: 400px;
    }

    @include mobile-max {
      grid-column: span 2;
      grid-row: 4;
      grid-row-start: unset;
      grid-row-end: unset;
      margin: 0 0 1rem 0;
    }
  }

  h3,
  span {
    @include poppins(700);
  }

  h3 {
    font-size: 24px;
    grid-row: 1;
    grid-column: span 2;
  }

  p {
    @include montserrat(400);
  }

  button:nth-of-type(1) {
    grid-row: 5;
    max-width: 400px;

    @include mobile-max {
      grid-column: span 2;
      grid-row: 5;
    }
  }
}

.btnReadMore {
  @extend %button-clear;
  font-size: 14px;
}
