// Border thickness
$border-thin: 0.5px;
$border-medium: 1px;
$border-thick: 3px;

// Border radius corners
$radius-xsmall: 3px;
$radius-small: 5px;
$radius-medium: 15px;
$radius-large: 25px;
$radius-round: 50%;
