$primary: #637b72;
$white: white;
$whitesmoke: #f7f5f2;
$warning-red: #c65973;
$navy-blue: #2d2e4b;
$navy-green: #3d4e48;
$night-blue: #22233a;
$transperant-blue: rgba($night-blue, 0.7);
$transperant-green: rgba($navy-green, 0.7);
