// List
@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin horizontal-list {
  @include reset-list;

  li {
    display: inline-block;
    margin: {
      left: -2px;
      right: 2em;
    }
  }
}

// Background
@mixin parallax($position) {
  background-size: cover;
  background-attachment: fixed;
  background-position: $position;
}
