// List
@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin horizontal-list {
  @include reset-list;

  li {
    display: inline-block;
    margin: {
      left: -2px;
      right: 2em;
    }
  }
}

// Background
@mixin parallax($position) {
  background-size: cover;
  background-attachment: fixed;
  background-position: $position;

  @media (max-width: $tablet-normal) {
    background-position-x: 50%;
  }
}

@mixin background-img {
  background-size: cover;
  background-position: center;
}

// Buttons
@mixin button-green {
  border: none;
  background: $primary;
  font-size: 14px;
  color: $white;
  padding: 0.7rem 2rem;
  border-radius: $radius-large;
  box-shadow: 1px 1px 2px black;
  transition: all ease-in 200ms;

  &:hover {
    cursor: pointer;
    box-shadow: 2px 2px 3px black;
    transform: scale(1.05);
  }
}

// Hero
@mixin hero-light($img, $tabletimg, $mobileimg) {
  display: flex;
  min-height: 500px;
  width: 100%;
  justify-content: center;
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url($img);
  @include parallax(bottom);
  box-shadow: 1px 1px 2px rgb(63, 63, 63);
  position: relative;
  z-index: 10;
  transition: all ease 250ms;

  @media (max-width: $tablet-normal) {
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url($tabletimg);
    background-size: cover;
  }

  @media (max-width: $mobile-max) {
    min-height: 500px;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url($mobileimg);
    background-size: cover;
  }
}

@mixin hero-dark($img, $tabletimg, $mobileimg) {
  display: flex;
  min-height: 450px;
  width: 100%;
  justify-content: center;
  background: linear-gradient($transperant-blue, $transperant-blue), url($img);
  @include parallax(bottom);
  box-shadow: 1px 1px 2px rgb(63, 63, 63);
  position: relative;
  z-index: 10;
  transition: all ease 250ms;

  @media (max-width: $tablet-normal) {
    background: linear-gradient($transperant-blue, $transperant-blue), url($tabletimg);
    background-size: cover;
  }

  @media (max-width: $mobile-max) {
    min-height: 500px;
    background: linear-gradient($transperant-blue, $transperant-blue), url($mobileimg);
    background-size: cover;
  }
}
