// Poppins
@mixin poppins($weight) {
  font-family: "Poppins", sans-serif;
  font-weight: $weight;
}

@mixin poppins-italic {
  font-family: "Poppins", sans-serif;
  font-style: italic;
}

// Montserrat
@import "~@fontsource/montserrat/scss/mixins";

// Uses a unicode-range map to automatically generate multiple @font-face rules.
@include fontFace($weight: 500, $display: fallback, $fontDir: "~@fontsource/montserrat/files");

// Fully customisable single @font-face mixin.
@include fontFaceCustom(
  $weight: 600,
  $display: optional,
  $woff2Path: "~@fontsource/montserrat/files/montserrat-latin-500-normal.woff2",
  $unicodeRange: false
);

@mixin montserrat($weight) {
  font-family: "Montserrat", sans-serif;
  font-weight: $weight;
}

@mixin montserrat-italic {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}

// Links
@mixin link-normal {
  text-decoration: none;
  color: $night-blue;
  transition: all ease 1s;

  &:hover {
    cursor: pointer;
  }
}

@mixin link-underline {
  @include link-normal;

  &:hover {
    text-decoration: underline;
  }
}

@mixin link-fat {
  @include link-normal;
  font-weight: 700;

  &:hover {
    color: $primary;
  }
}

@mixin link-italic {
  @include link-normal;
  @include montserrat-italic;

  &:hover {
    color: $light-purple;
  }
}

// Quotes
%quote {
  @include montserrat-italic;
  font-weight: 100;
  line-height: 1.8;
}
