@import "@/theme/theme";

.startpage {
  @include hero-dark("/images/start.jpg", "/images/start.jpg", "/images/start.jpg");
  background-position: bottom;
}

.stablenews {
  @include hero-dark(
    "/images/trans.jpg",
    "/images/trans.jpg",
    "/images/trans.jpg"
  );
}

.lessoncourses {
  @include hero-dark(
    "/images/kandar_detail.jpg",
    "/images/kandar_detail_tablet.jpg",
    "/images/kandar_detail_mobile.jpg"
  );
}

.aboutus {
  @include hero-dark(
    "/images/sandgraf.jpg",
    "/images/sandgraf_tablet.jpg",
    "/images/sandgraf_mobile.jpg"
  );
}

.contact {
  @include hero-dark(
    "/images/saddle.jpg",
    "/images/saddle-tablet.jpg",
    "/images/saddle-mobile.jpg"
  );
}

.text {
  align-self: center;
  @extend %main-wrapper;

  h1,
  p {
    max-width: 450px;
    color: white;
    text-shadow: 1px 1px 3px black;
    transition: all ease 250ms;

    @media (max-width: $tablet-normal) {
      margin: auto;
      text-align: center;
    }

    @media (max-width: $mobile-max) {
      padding-inline: 2rem;
    }
  }

  h1 {
    font-size: 36px;
    @include poppins(bold);
    margin: 0;
    transition: all ease 250ms;

    @media (max-width: $tablet-normal) {
      margin: auto;
      padding-top: 2rem;
    }
  }

  p {
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
  }
}
