@import "@/theme/theme";

.closedPost {
  background: $white;
  margin-bottom: 2rem;
  padding: 2rem 3rem;
  border-radius: $radius-medium;
  border: 4px solid rgba($primary, 0.9);
  color: $night-blue;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  transition: all ease 200ms;
  width: 80%;

  button {
    border-radius: $radius-medium;
    color: $white;
    background: $primary;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    min-width: 130px;
    transition: box-shadow ease 250ms;

    &:hover {
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.201);
    }
  }
}

.post {
  background: $white;
  margin-bottom: 2rem;
  padding: 2rem 3rem;
  border-radius: $radius-medium;
  border: 4px solid rgba($primary, 0.9);
  color: $night-blue;
  display: grid;
  grid-template-columns: 1fr 0.9fr;
  grid-template-rows: 1fr auto;
  transition: all ease 200ms;
  width: 80%;
  gap: 1rem;

  @include tablet-normal {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
  }

  @include mobile-max {
    padding: 2rem 1rem 6rem;
  }

  .text {
    grid-row: span 2;
    margin-right: 2rem;
    transition: all ease 200ms;
    display: grid;
    grid-template-rows: auto auto 1fr auto;

    @include tablet-normal {
      grid-row: unset;
      grid-column: span 2;
      margin: unset;
      text-align: center;
      font-size: 16px;
    }

    h2 {
      grid-row: 2;
      grid-column: span 2;

      @include mobile-max {
      }
    }

    p {
      @include montserrat(400);
      margin-top: 1rem;
      grid-column: span 2;

      @include mobile-max {
        margin-top: 0;
      }
    }
  }

  .date {
    @include montserrat-italic;
    font-size: 12px;
    transition: all ease 200ms;

    @include tablet-normal {
      grid-column: span 2;
      grid-row: 1;
      text-align: center;
      font-size: 14px;
    }
  }

  .seeMore {
    border-radius: $radius-medium;
    color: $white;
    background: $primary;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    width: max-content;
    margin-left: auto;
    min-width: 130px;
    transition: box-shadow ease 250ms;

    &:hover {
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.201);
    }
  }
}

.postNoPic {
  background: $white;
  margin-bottom: 2rem;
  padding: 2rem 3rem;
  border-radius: $radius-medium;
  border: 1px solid rgba(42, 42, 63, 0.201);
  color: $night-blue;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  transition: all ease 200ms;
  width: 80%;
  position: relative;

  @include tablet-normal {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
  }

  @include mobile-max {
    padding: 2rem 1rem;
  }

  .text {
    grid-row: span 2;
    grid-column: span 2;
    margin-right: 2rem;
    max-width: 600px;
    transition: all ease 200ms;
    display: grid;
    grid-template-rows: auto auto 1fr auto;

    @include tablet-normal {
      grid-row: unset;
      grid-column: span 2;
      margin: unset;
      text-align: center;
      font-size: 16px;
    }

    h2 {
      grid-row: 2;
      grid-column: span 2;

      @include mobile-max {
      }
    }

    p {
      @include montserrat(400);
      margin-top: 1rem;
      grid-column: span 2;

      @include mobile-max {
        margin-top: 0;
      }
    }
  }

  .date {
    @include montserrat-italic;
    font-size: 12px;
    transition: all ease 200ms;

    @include tablet-normal {
      grid-column: span 2;
      grid-row: 1;
      text-align: center;
      font-size: 14px;
    }
  }

  button {
    border-radius: $radius-medium;
    color: $white;
    background: $primary;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 3rem;
    min-width: 130px;
    transition: box-shadow ease 250ms;

    &:hover {
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.201);
    }
  }
}
