@import "@/theme/theme";

.main {
  @extend %main-wrapper;
  background: $white;
  @extend %soft-shadow;
  padding: 2rem 3rem;

  @include mobile-max {
    padding: 1.5rem;
  }

  .btn_container {
    margin-top: 5rem;

    @include mobile-max {
      button {
        padding: 0.7rem;
      }
    }
  }

  .info_container {
    margin-top: 2rem;
  }
}
