@import "@/theme/theme";

.main {
  padding: 4rem 0 2rem 2rem;

  h2 {
    margin: 2rem 0 4rem 0;
    text-align: center;
    color: $white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
    font-size: 30px;
    margin: 3rem 0 1rem;
  }

  @include tablet-normal {
    padding-inline: 1rem;
  }
}

.course_container {
  border: 4px solid rgba(99, 123, 114, 0.25);
  background: $white;
  border-radius: $radius-medium;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  margin: 1rem auto;
  @extend %main-wrapper;

  h3 {
    font-size: 20px;
    @include poppins(700);
    margin: 0.5rem;
    grid-column: span 2;
  }

  button {
    @extend %button-primary;
    height: 80px;
  }

  @include mobile-max {
    padding: 1rem;

    button {
      font-size: 14px;
    }
  }
}
