@import "@/theme/theme";

.wrapper {
  @extend %main-wrapper;

  @include tablet-normal {
    margin: 0 1rem 1rem 1rem;
  }
}

.section {
  @include hero-light("/images/2.png", "/images/2-tablet.png", "/images/2-mobile.png");
}

.loadMoreBtn {
  @extend %button-primary;
  width: 90%;
  padding: 0.7rem;
  border: 1px solid rgba($white, 0.5);

  @include tablet-normal {
    width: 100%;
  }
}

.navigation_btn {
  @extend %button-primary;
  padding: 0.5rem 2rem;
  font-size: 14px;
}

.post {
  @extend %main-wrapper;
  @extend %post-wrapper;
  margin: 2rem 0;

  div {
    margin-top: 1rem;
  }

  @include tablet-normal {
    margin: 2rem;
  }

  @include mobile-max {
    margin: 1.5rem 1rem;
    padding: 2rem;

    div {
      font-size: 16px;
    }
  }
}

.post_stablenews {
  @extend %main-wrapper;
  @extend %post-wrapper;
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;

  section {
    position: relative;

    p:nth-of-type(2) {
      margin-top: 1rem;
    }

    a {
      position: absolute;
      bottom: 0;
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }

  @include tablet-normal {
    margin: 1.5rem 1rem;
    flex-direction: column;

    section {
      a {
        position: unset;
        bottom: unset;
        margin-top: 1rem;
      }
    }
  }

  @include mobile-max {
    padding: 2rem;

    section {
      p,
      a {
        font-size: 16px;
      }
    }
  }
}
