@import "../theme/theme";

.stablenews_list {
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
    url(../public/images/4.png);
  @include parallax(left);
  margin: 0;
  padding: 4rem 0;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all ease 200ms;

  @media (max-width: $tablet-normal) {
    padding: 4rem 2rem;
  }

  @media (max-width: $mobile-max) {
    padding: 3rem 0;
  }
}
