@import "@/theme/theme";

.wrapper {
  min-height: 550px;
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    url("/images/trans.jpg");
  @include parallax(left);
  position: relative;
  z-index: 3;
  box-shadow: 2px 2px 2px rgb(63, 63, 63);
  padding: 1rem 0 2rem;
  transition: all ease 250ms;

  @media (max-width: $tablet-normal) {
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
      url("/images/trans.jpg");
    background-size: cover;
  }

  @media (max-width: $mobile-max) {
    min-height: 450px;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
      url("/images/trans.jpg");
    background-size: cover;
    background-position-x: 40%;
    padding: 0.5rem;
  }
}

.main {
  @extend %main-wrapper;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  transition: all ease 250ms;

  @media (max-width: $tablet-normal) {
    padding-left: 2rem;
  }

  @media (max-width: $mobile-max) {
    align-items: center;
    padding-left: 0;
  }

  h2 {
    text-shadow: 1px 1px 2px black;
    color: $white;
    padding: 2rem;
    transition: all ease 250ms;
    @include poppins(700);

    @media (max-width: $mobile-max) {
      text-align: center;
    }
  }
}

.navigation_dots {
  max-width: 450px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, auto);
  gap: 1.5rem;
  padding: 1rem;
  transition: all ease 250ms;

  @media (max-width: $tablet-normal) {
    max-width: 350px;
  }
}
